<include href="views/header.html"></include>

<body>
    <!-- Navigation bar -->
    <nav class="navNew navbar navbar-expand-lg navbar-dark bg-dark">

        <!-- Logotype -->
        <a class="navbar-brand ml-4 m-1 menu" href="http://earth-makers.greenriverdev.com/EarthMakers/">Home</a>
        <a class="navbar-brand ml-4 m-1 menu" href="admin">Admin Login</a>
        <a class="navbar-brand ml-4 m-1 menu" href="student">Student Login</a>
        <include href="controller/nav.php"></include>
    </nav>